@import "tailwindcss";


:root {
  background-color: #FFFCFB;
  font-family: var(--font-poppins);
}

.hero-heading {
  font-family: var(--font-quickSand);
  font-weight: 900;
}

.section-title {
  font-family: var(--font-concert);
}

.body-text {
  font-family: var(--font-poppins);
}

.logo-text {
  font-family: var(--font-akaya);
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .primary-yellow{
    color: #FFD944;
  }
  .light-yellow{
    color: #fff5d6;
  }
  .accent-orange{
    color: #ff9900;
  }
  .deep-red{
    color: #f44369;
  }
  .dark-brown{
    color: #4a2e19;
  }
  .maroon{
    color: #5e2c1c;
  }
}

@layer components {


  .card-hover {
    transition: transform 0.3s ease-in-out;
  }

  .card-hover:hover {
    transform: translateY(-5px);
  }

  .floating-animation {
    animation: float 3s ease-in-out infinite;
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}
