@import "tailwindcss";

:root {
  background-color: #FFFCFB;
  font-family: var(--font-poppins);
  @apply scroll-smooth
}

.hero-heading {
  font-family: var(--font-quickSand);
  font-weight: 900;
}

.section-title {
  font-family: var(--font-concert);
}

.body-text {
  font-family: var(--font-poppins);
}

.logo-text {
  font-family: var(--font-akaya);
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  /* TEXT COLORS */
  .text-primary-yellow {
    color: #FFD944;
  }

  .text-light-yellow {
    color: #fff5d6;
  }

  .text-accent-orange {
    color: #ff9900;
  }

  .text-deep-red {
    color: #f44369;
  }

  .text-dark-brown {
    color: #4a2e19;
  }

  .text-maroon {
    color: #5e2c1c;
  }

  /* BACKGROUND COLORS */
  .bg-primary-yellow {
    background-color: #FFD944;
  }

  .bg-light-yellow {
    background-color: #fff5d6;
  }

  .bg-accent-orange {
    background-color: #ff9900;
  }

  .bg-deep-red {
    background-color: #f44369;
  }

  .bg-dark-brown {
    background-color: #4a2e19;
  }

  .bg-maroon {
    background-color: #5e2c1c;
  }
}

@layer components {


  .card-hover {
    transition: transform 0.3s ease-in-out;
  }

  .card-hover:hover {
    transform: translateY(-5px);
  }

  .floating-animation {
    animation: float 3s ease-in-out infinite;
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .animate-marquee {
    animation: marquee 10s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
